body {
    /*     background: #133D47; */
    background: #292B2A;
}

#outer-wrapper {
    display: table; 
    position: absolute; 
    width: 100%;
    height: 100%; 

    /*     border: 2px dashed red;  */
}    

#middle-wrapper {
    display: table-cell;
    padding-top: 40px; 
    vertical-align: top; 
    text-align: center; /* To center child elements*/
}

#description-wrapper {
    display: inline-block; /* text-align affects inline-block */
    text-align: left; 
    margin-bottom: 20px; 
}

.description {
    color: #AFAFAF; 
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 1.5;
}

#shortcut {
    border: 1px solid #AFAFAF;
    padding: 0 4px; 
}

#search-box {    
    display: block;
    margin: auto; 
    width: 40%; 
    padding: 7px; 
    font-size: 25px; 
    color: white; 
    border: 3px solid #33A6C4;
    /*     border: 5px solid #292B2B; */
    border-radius: 5px; 
    /*     border: 2px solid black;  */
    background: none; 
}

#search-button {
    display: block; 
    margin: auto; 
    padding: 10px;
    margin-top: 10px; 
    font-size: 25px; 
    color: #33A6C4;
    background: none; 
    border-radius: 5px; 
    border: 3px solid #33A6C4; 
    /*     border: 2px solid black;  */
}

#search-button:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    color: white; 
    background: #33A6C4;
}


#results {
    margin-top: 20px; 
    font-size: 22px;
    font-family: sans-serif;  
    color: #BFBFBF; 
    /* border: 2px solid white;  */
    text-align: center; 
}


